@charset "utf-8";
body{
	font-family:,"Myriad Set Pro","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif,'Microsoft Yahei',Simsun;
    color: #333;
    font-size: 0.14rem;
    overflow: hidden;
}
a{
	color:#333;
}
footer{
	width: 100%;
	height: 0.7rem;
	background-color: rgba(246,246,246,.95);
	position: fixed;
	z-index: 100;
	left:0;
	bottom: 0;
}
footer>ul{
	display: flex;
	width: 100%;
}
footer li{
	flex:1;
	text-align: center;
	line-height: 1.05rem;
}
.foot_bj1{
	background: url(../images/5.png) no-repeat center 0.05rem;
	background-size: 0.35rem;
}
.foot_bj2{
	background: url(../images/6.png) no-repeat center 0.05rem;
	background-size: 0.35rem;
}
.foot_bj3{
	background: url(../images/3.png) no-repeat center 0.05rem;
	background-size: 0.35rem;
	position: relative;
}
.shopNum{
    background-color: #f40;
    color: #fff;
    line-height: 0.22rem;
    width: 0.22rem;
    text-align: center;
    font-size: 0.13rem;
    -webkit-transition: -webkit-transform .1s;
    position: absolute;
    display: none;
    border-radius: 50%;
    left: 50%;
    top: .06rem;
    margin-left: 0.15rem;
}
.foot_bj4{
	background: url(../images/4.png) no-repeat center 0.05rem;
	background-size: 0.35rem;
}
header{
	background-color: #ffd600;
	width: 100%;
    height: 0.58rem;
    line-height: 0.58rem;
   	display: flex;
	position: fixed;
	z-index: 100;
	left:0;
	top:0;
}
header>p{
	font-size: 0.18rem;
	display: inline-block;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    width: 55%;
    line-height: 0.58rem;
    margin:auto;
}
header>div{
	position: absolute;
	right:0.1rem;
	top:0.05rem;
	background: url(../images/a1.png) no-repeat center 0;
	background-size: 0.25rem;
	height: 100%;
	line-height: 0.7rem;
}
.page2-main{
	width: 100%;	
	padding:0.58rem 0 0.8rem 0;
	overflow: hidden;
	-webkit-box-flex: 1;
}
.page2-article{
	overflow-y: auto;
    overflow-x: hidden;
    display: block;
    width: 23.75%;
    font-size: 0.16rem;
    background-color: #f8f8f8;
	position: absolute;
	top:0.58rem;
	left:0;
	bottom:0.7rem;
}
.page2-article li{
	height: 0.5rem;
	width: 100%;
	line-height: 0.5rem;
    color: #6d6d6d;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    background: right top no-repeat;
    background-color: #f8f8f8;
    background-size: auto 70%;
}
.page2-art-border{
	border-left: .06rem solid #ffd600;
}
.page2-aside{
	float:right;
	width: 75%;
	overflow-y: auto;
    overflow-x: hidden;
    display: block;
	position: absolute;
	right:0;
	top:0.6rem;
	bottom:0.7rem;
}
.page2-aside-top{
	position: fixed;
	z-index: 3;
    top: 0.58rem;
    left: 25%;
    right: 0;
    height: 0.52rem;
    font-size:0.16rem;
    color: #777;
    background-color: rgba(255,255,255,.95);
    line-height: 0.52rem;
    border-bottom:1px solid #e0e0e0;
}
.page2-aside-top li{
	float: left;
    width: 50%;
    text-align: center;
    position: relative;
}
.page2-aside-top li:last-of-type span:first-of-type{
	display: block;
    content: '';
    width: 1px;
    height: 46%;
    position: absolute;
    background-color: #ddd;
    top: 27%;
}
.page2-jt1{
	display: inline-block;
    vertical-align: top;
    width: 0.16rem;
    height: 0.52rem;
    content: '';
    background: center center no-repeat;
    background-size: 0.13rem;
    -webkit-transition: -webkit-transform .3s;
}
/*.page2-aside-top-act:active .page2-jt1{
	-webkit-transform: rotate(180deg);
}*/
.page2-aside-top1{
	display: none;
	position: absolute;
	width: 100%;
    background-color: rgba(0,0,0,.18);	
	left:0;
	bottom: -5.5rem;
	z-index:2;
	padding-bottom: 5.4rem;
}
.page2-aside-top1 div{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 0.1rem;
}
.page2-aside-top1 li{
	content: '';
	width: 21%;	 
    float: left;
    border: solid 1px #e0e0e0;
    padding: .06rem .1rem;
    margin-left: .1rem;
    margin-top: .1rem;
    border-radius: .06rem;   
    line-height: 0.23rem;  
    color: #777;
    overflow: hidden;
}
.page2-aside-top1c{
	border-color: #ffd600 !important;
	background-color: #fff9d9;
}
.page2-aside-main{
	width: 100%; 
}
.page2-aside-main>p{
	height: 0.52rem;
}
.page2-aside-main li{
	clear:both;
	border-bottom:1px solid #e0e0e0;
	padding: 0.06rem;
    font-size: 0.16rem;
    line-height: 0.26rem;
    position: relative;
}
.page2-product-pic{
	background: url(../images/page21.png) no-repeat center top;
    background-size: contain;
    float: left;
    width: 1.04rem;   
    margin-right: 0.1rem;
}
.page2-product-pic div{
    width: 100%;
    padding-bottom: 100%;
    background-size: 100% 100%;
}
.page2-product>p:first-of-type{
    color: #232b33;
}
.page2-product>span:first-of-type,.page2-product>span:last-of-type{
	font-size: 0.13rem;
	line-height: 0.13rem;
    padding: .02rem .05rem;
    border: 1px solid red;
    display: inline-block;
    color: red;
    margin-right: .04rem;
    border-radius: .06rem;
}
.page2-product>span:last-of-type{
    color: #fff;
    background-color: red;
}
.page2-product>p:nth-of-type(2){
	color:#999;
}
.ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.page2-product>p:last-of-type span:first-of-type{
	color: #ff3800;
}
.page2-product>p:last-of-type span:last-of-type{
	color: #999;
	text-decoration: line-through;
}
.page2-product div{
	position: absolute;
    width: 1.3rem;
    height: 0.65rem;
    right: 0;
    bottom: -0.1rem;
    text-align: center;
    color: #f40;
    vertical-align: top;
}
.page2-product div span:first-of-type,.page2-product div span:last-of-type{
	width: 0.33rem;
    height: 0.33rem;
    display: inline-block;
    background: #ff4300 url(../images/and.png) no-repeat left center;
    background-origin: border-box;
    background-size: 200% 100%;
    border-radius: 50%;
    border: 1px solid #ffbe89;
}
.page2-product div span:nth-of-type(2){
	margin:0 0.07rem;
	line-height: 0rem;
	display: inline-block;
	position: relative;
	top:-0.1rem;
	color:#333;
}
.page2-product div span:last-of-type{
	background-position: right center;
}